*{
    border: 0;
    padding: 0;
   box-sizing: border-box;
    margin: 0;
}   
body{
    max-width: 100%; 
    height: 100%;
    padding-top: 1%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container-main{
        width: 100%;
        height:100%;
        max-width:21.75rem; 
}
.flex-item{
        padding-top: 2%;
        height: 100%;
        border: 1px solid var(--color-border);
        display: flex;
        flex-direction: column;
        background-color: var(--secundary);           
}
#paragrafo{
    font-weight: bold;
    color: var(--text-paragrafo);
    text-align:center;
    margin: 5% 0%;
}
.logo{
    display: flex;
    align-content: center;
    justify-content: center;
}
.logo img{ 
    width: 60%;
    padding-top: 2rem;              
}
.flex-item{
    padding: 0px 40px;
}
/* estilização dos botões*/

.button{
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn-face{
    border: 0;
    color: var(--secundary);
    background-color:var(--button-enter);
    font-weight: bold;
    margin-bottom: 1rem;
}
.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3rem;
    
}
.facebook{
    display: flex;
    justify-content: center;  
    align-items: center;
}
.facebook a i{
    margin: 0px 0.5rem 0px 0px;
}
.facebook :nth-child(1){
    text-decoration: none;
    color: var(--secundary);
    font-size: 0.9rem;
}   
/*criação e estlização da linha ao lado do ou*/
.alternative{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.5);
}
.alternative{
    font-size: 1.1rem;
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 3px;
}
.alternative::before{
    content: '';
    height: 1px;
    flex: 1;
    margin-right: 16px;
    background-color: var(--color-border);
}
.alternative::after{
    content: '';
    height: 1px;
    flex: 1;
    margin-left: 16px;
    background-color: var(--color-border);
}
.btn-cadastrar{
    margin-top: 10px;
    color: var(--secundary);
    background-color: var(--button-cadastrar);
    text-align: center;
}
.campo{
    padding-left: 0.4rem;
    width: 100%;
    height:2.4rem;
    text-shadow: none;
    border-radius: 0.3rem;
    background-color: var(--primary);
     border:1px solid var(--color-border);
    font-size: 0.8rem;
    font-weight: 400; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-black);
    outline: none;
}
a{
color: rgba(0, 0, 0, 0.5);
}
.p-inferior{
    font-size: 80%;
    text-align: center;
    margin: 17px 0px 40px;
    color: var(--text-paragrafo);
}   
.p-inferior a{
    text-decoration: none;
}
.p-final{
      width: 100%;
      max-width: 21.75rem;
      height: 4rem;
      padding: 2%;
      margin-top: 0.5rem;
      border: 1px solid var(--color-border);
      display: flex;
      justify-content: center;
      align-items: center;
}
.p-final p{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);   
    }
.p-final p a{
    color:var(--text-register);
    text-decoration: none;
    margin-left: 0.3rem;
}
h4{
    padding: 20px 0px 10px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: lighter;
    font-size: 0.9em;
    margin-bottom: 0.625rem;
    text-align: center;
}
.botoes{
    display: flex;
    justify-content: center;
}
.img{
    width: 50% auto;
    height: 2.5rem;
    margin:0rem 0.3rem;    
}
/*Rodapé*/
.rodape{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    padding:2%;
    cursor: pointer;
    background-color: var(--secundary);
    color: rgba(0, 0, 0, 0.5);
}
.lista-rodape{
    display: flex;
    margin-top: 3rem;
}
.rodape ul li {
    list-style: none;
}
.lista-rodape li a{    
text-decoration: none;
padding:0rem 0.5rem ;
}
.sub-lista-rodape {
    display: flex;   
}
.sub-lista-rodape li a{
    text-decoration: none;
    padding: 0rem 0.3rem;
}
.sub-lista-rodape li{
    margin-top: 1rem;
}
/*media queris*/

@media screen and (max-width:720px){    
    .rodape ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:450px) {
    .flex-item{
        border: 0;
    }
}
@media screen and (max-width:450px) {
    .p-final{
        border: 0;
    }
}
