*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}


.container-main{
    margin:0px;
    padding-top: 3vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-self: baseline;
    background-color: #f7f3f3;
}


/*estilizando o slide*/

.slide-carrosel{
    width: 53%;
    height: 69%;
    border: 1px solid black;
    animation: slide 10s infinite;
    animation-direction:  alternate;
}

@keyframes slide {
    0% , 20%{
      background-image: url(/img/photo1.jpg);
    }
    25% ,50%{
     background-image: url(/img/photo2.jpg);
    }
    55% , 75%{
    background-image: url(/img/photo3.jpg);
    }
    80% , 100%{
        background-image: url(/img/photo4.jpg);
    }
}

.wapper-instagram{
    position: relative;
    
}

.wapper-instagram :nth-child(2){
    position: absolute;
    left: 9.4rem;
    top: 6.1rem;
    
}

.container-rigth{
    margin-top: 2.2rem;
    width: 21rem;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 1em;
    
    
}
.container-child-rigth{
    border: 1px #ccc solid;
}

.instagram{
    display: flex;
    justify-content: center;
}
.instagram img{
    padding-top:2rem;
}
.logo-instagram{
    width: 10rem;
}
/*botoes da loja*/

.formulario{
    margin:3rem 0 1rem;
    padding: 0 2rem ;
    width: 100%;
    display: flex;
    flex-direction: column;

}
 .campo{
    padding-left: 2%;
    width: 100%;
    margin: 0.1rem 0;
    height: 2.4rem;
    text-shadow: none;
    border-radius: 3%;
    background-color: rgb(247, 241, 241);
     border:1px solid #ccc;
    font-size: 72%; 
    color: black;
    outline: none;
  
}

.alternative{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*estilzação o OU*/
.alternative span{
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 72%;
}

.alternative span::before{
    position: absolute;
    content: "";
    height: 1px;
    width: 6.5rem;
    bottom: 50%;
    background-color: rgba(0,0,0, 0.2);
    left: 2.4rem;

}

.alternative span::after{
    position: absolute;
    content: "";
    width: 6.5rem;
    height: 1px;
    background-color: rgba(0,0,0, 0.2);
    right: 2.4rem;
    bottom: 50%;

}

/*btn entrar*/
.btn-entrar{
    margin-top: 0.8em;
    padding: 0rem 2rem;
    color: #fff;
    background-color:rgb(166, 234,247) ;
    width: 100%;
    height: 2rem;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(166,234,247);
}
.paragrafo > p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.p-entrar-facebook{
    margin-bottom: 1em;
}
.p-entrar-facebook a{
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    color:#073674 ;
    font-size: 85%;
}

.p-entrar-facebook:nth-child(1){
    color:#073674;
}
.p-senha{
margin-bottom: 1rem;
}

.p-senha a{
  font-weight: bold;
  text-decoration: none;
  font-size: 70%;
  margin-bottom: 40em;
    color:#073674;
    
}

.p-cadastrar{
    margin-top: 2.5%;
    padding: 6%;
    border: 1px #ccc solid;
    font-size: 90%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: unset;
}
.p-cadastrar a{
    text-decoration: none;
    color: #0095f6;

}
.p-app{
    margin: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    color: rgba(0,0,0, 0.8);
    
}
.btn-main{
    display: flex;
    justify-content: center;
    
}
.btn-main a{
    margin: 2%;
}
.btn-main .btn img{
    width: 130px;
    height: 38px;
    margin: 4%;
}

/*estilização do rodapé*/

.rodape{
    background-color: #f7f3f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 72%;
    padding: 2%;
    text-transform: capitalize;
}

.lista ul{
display: flex;
justify-content: center;
list-style-type: none;
}
.lista ul li a{
text-decoration: none;
color: rgb(168, 161, 161);
padding: 0px 10px;

}

.sub-lista{
    margin: 5px;
}
.sub-lista ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.sub-lista ul li a{
    text-decoration: none;
    color: rgb(168, 161, 161);
    padding: 0px 10px;
}

.paragrafo-rodape{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragrafo-rodape p a{
    text-decoration: none;
    color: rgb(168, 161, 161);
    padding: 0px 10px;
}

/*media queres*/


@media screen and (max-width: 800px) {
    .rodape{
        font-size: 65%;

    }

    .container-left{
        display: none;
    }

    .container-main{
        padding-left: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .rodape{
        font-size: 60%;
    }
}

@media screen and (max-width: 678px) {
    
    .rodape ul{ 

        display: flex;
        flex-flow: wrap;
        
    }
 
   
}

@media screen and (max-width:450px) {

    .container-child-rigth {
        border:0;

    }
    .p-cadastrar{
        border: 0;
    }

}

@media screen  and (max-width:300px){
 
    .btn-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}



