

:root{

    --primary:#fafafa;
    --secundary:#fff;
    --button-enter:#3396f6;
    --button-face:#385185;
    --button-cadastrar:#b2dffc;
    --color-border:#e6e6e6;
    --text-ou:#9d9592;
    --text-register:#0095f6;
    --text-footer:#8f8f8f;
    --text-password:#144676;
    --text-paragrafo:#8e8e8e;
    --color-black:#000000;

}
    